.footer_wrapper { 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem 1.5rem;
    background: $color-white;
    margin: 0 0 2rem 0;

}

.footer_container {

    border: 1rem solid $border-color;
    padding: 1rem;
    width: 100%;
}

.footer_search {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 1px solid $border-color;
    width: 50%;
    margin: 1.5rem auto;

    @include respond(phone) {

        width: 80%;

    }
    
    @include respond(xsmall) {

        width: 100%;
     
    }

    &-icon { 

        display: flex;
        justify-content: center;
        align-items: center;
        border-right:  1px solid $border-color;
        padding: .3rem;
        height: 3rem;
        width: 3rem;

    }

    &-input {

       -webkit-appearance: none;
       border: none;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: right;
       padding: .3rem;
       text-decoration: none;
       color: $color-gray;
       font-size: 1.2rem;
       width: 100%;
       height: 3rem;
       border: none;
       outline: none;

    }
}

.quick_access {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem auto;

    &-link { 

        display: none;
        font-size: 1.8rem;
        text-align: center;
        text-decoration: none;
        color: $footer-link;
        padding-bottom: 1rem;
        border-bottom: 1px solid $footer-link;

        @include respond(phone) {

            display: block;
        }
    }

  
}

.footer_menu { 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;  
  
    &-list {

      list-style-type: square;
      list-style-position: initial;
      justify-content: center;
      align-items: center;

      @include respond(phone) {

        display:flex;
        flex-direction: column-reverse;
        list-style: square;
        list-style-position: outside;
        text-align: center
    }
     
      
  
      &-item {

          display: inline;
          list-style: square;

          @include respond(phone) {

               margin: 1rem 0;
          }
          
 
          &-link {

              text-decoration: none;
              color: $color-gray-dark;
              font-size: 1.4rem;
          }
      }
  
      &-item:not(:last-child):after {

          content: '\25A0 ';
          color: $color-yellow-dark;
          font-size:.6rem;
          margin: 0 .3rem;
      }

      @include respond(phone) {

        &-item:not(:first-child):after {
            content: '\25A0 ';
            color: $color-yellow-dark;
            font-size:.6rem;
            margin: 0 .3rem;
        }
         
      }
      
    }
}

  .footer_copyright { 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color-gray-dark;
    font-size: 1.2rem;
    direction: rtl;
    padding: 1rem 0 2.5rem 0;
    border-bottom: 1px solid $border-color;
    text-align: center;

  }

  .footer_developer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color-gray-dark;
    font-size: 1.2rem;
    direction: rtl;
    padding: 1.5rem 0;

  }

