#search {

    fill: white;
    margin: .6rem;
}

#android {

    fill: silver;
    margin: .6rem;
}

#appleinc {

    fill: silver;
    margin: .6rem;
}

#footer-search {

    fill: silver;
    margin: .3em;
    height: 2.4em;
}