#search {

    fill: $color-white;
    margin: .6rem;
}

#android {

    fill: $border-color;
    margin: .6rem;
}

#appleinc {

    fill: $border-color;
    margin: .6rem;
}

#footer-search {

    fill: $border-color;
    margin: .3em;
    height: 2.4em;
}

#facebook {

    fill: $color-white;
    padding: .6rem;
}

#twitter {

    fill: $color-white;
    padding: .6rem;
}

#instagram {

    fill: $color-white;
    padding: .6rem;
}

#pinterest {

    fill: $political-bg;
    padding: .2rem;
}

#google-plus {

    fill: $color-white;
    padding: .6rem;
}

#menu-android {

    fill: $border-color;
    margin: .6rem;

}

#menu-appleinc {

    fill: $border-color;
    margin: .6rem;
    
}