.notes_wrapper {

    margin: 1.5rem;
    display: flex;
    flex-direction: column;
}

.notes_header {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  

    &-title {

        text-align: right;
        font-size: 1.6rem;
        color: $color-gray;
        font-weight: 600;
        letter-spacing: -1.2px;
        margin-right: -.7rem;
        direction: rtl;
    }

    &-photo { 

        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        border: 1px solid $color-gray;
        margin:0 0 0 2rem;
       
    }
}

.notes_title {

        text-align: right;
        font-size: 1.4rem;
        color: $color-gray;
        font-weight: 700;
        direction: rtl;
        letter-spacing: -1px;
        padding: 1.5rem 0;
        line-height: 2.3rem;
}

.notes_text {

        text-align: right;
        font-size: 1.2rem;
        color: $color-gray-light;
        direction: rtl;
}

.notes_link {

        text-align: right;
        font-size: 1.2rem;
        color: $notes-blue;
        direction: rtl;
        text-decoration: none;
}

.notes_link:hover {
  
    color: $notes-blue-hover;
    
}

