@font-face {

        font-family: 'yekan';
        src: url('../fonts/yekan-regular.eot');
        src: url('../fonts/yekan-regular.eot?#iefix') format('FontName-opentype'),
            url('../fonts/yekan-regular.woff') format('woff'),
            url('../fonts/yekan-regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

/*

  FONTS

*/

$primary-font: 'yekan';


/*

  COLORS

*/

$bg-color: #d5d5d5;
$color-white: #FEFEFE;
$search-tools-bg: #e8e8e8;
$color-yellow:  #f68b1f;
$color-black: #222222;
$color-blue: #4682b4;
$color-blue-dark: #1f3a51;
$header-logo-bg: #025594;
$nav-container-bg: #4682b4;
$border-color: #DDDDDD;
$color-gray-lighter: #333333;
$border-color-dark: #CCCCCC;
$color-gray-light: #444444;
$color-gray: #555555;
$color-gray-dark: #666666;
$color-gray-darker: #777777;
$color-gray-darkest: #999999;
$footer-link: #0f4e95;
$color-yellow-dark: #d97109;
$notes-blue: #337ab7;
$notes-blue-hover: #022f57;
$post-text-color: #252525;
$economic-bg:  #5500ff;
$world-bg: #cc8400;
$sport-bg: #71a603;
$political-bg: #ff3333;
$social-bg: #ff7f50;
$cultural-bg: #328d03;
$science-bg: #008b8b;
$intertainment-bg: #8080ff;
$health-bg: #c3c322;
$newspaper-title: #0f4e95;
$newspaper-title-sudo: #022c5c;
$facebook-bg: #115aac;
$twitter-bg: #259ab7;
$instagram-bg: #0a3667;
$registration-bg: #f2f2f2;