@charset "UTF-8";
@font-face {
  font-family: "yekan";
  src: url("../fonts/yekan-regular.eot");
  src: url("../fonts/yekan-regular.eot?#iefix") format("FontName-opentype"), url("../fonts/yekan-regular.woff") format("woff"), url("../fonts/yekan-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*

  FONTS

*/
/*

  COLORS

*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: #d5d5d5;
  font-family: "yekan";
}

.layout_wrapper {
  margin: 0 auto;
  max-width: 100rem;
}
@media only screen and (max-width: 62.5em) {
  .layout_wrapper {
    max-width: 75rem;
  }
}

#search {
  fill: #FEFEFE;
  margin: 0.6rem;
}

#android {
  fill: #DDDDDD;
  margin: 0.6rem;
}

#appleinc {
  fill: #DDDDDD;
  margin: 0.6rem;
}

#footer-search {
  fill: #DDDDDD;
  margin: 0.3em;
  height: 2.4em;
}

.header_wrapper {
  display: flex;
  flex-direction: column;
}

.header_top-image {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1.2rem 0 2rem 0;
}
.header_top-image-photo {
  margin: 0 auto;
}
@media only screen and (max-width: 43.75em) {
  .header_top-image {
    height: 0;
    width: 0;
    overflow: hidden;
    display: none;
  }
}

.header_content-container {
  background-color: #FEFEFE;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  padding: 0.8rem 1.3rem;
}
@media only screen and (max-width: 43.75em) {
  .header_content-container {
    padding: 0;
  }
}

.search_tools {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  grid-column-gap: 1rem;
  background-color: #e8e8e8;
}
@media only screen and (max-width: 43.75em) {
  .search_tools {
    grid-row: 2/3;
    grid-column: 1/-1;
    padding: 0;
    height: 0;
    overflow: hidden;
  }
}

.search_stuff {
  display: flex;
  margin: 0 1rem 0 0;
}

.search_icon {
  background-color: #f68b1f;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media only screen and (max-width: 43.75em) {
  .search_icon {
    width: 4rem;
    height: 4rem;
  }
}

.search_input {
  -webkit-appearance: none;
  direction: "rtl" !important;
  font-size: 1.2rem;
  border: none;
  height: 3rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 1rem;
}
.search_input:focus {
  outline: none;
  box-shadow: none;
}
@media only screen and (max-width: 43.75em) {
  .search_input {
    padding: 0 1rem 0 15rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 30em) {
  .search_input {
    padding: 0 1rem 0 5rem;
  }
}

.android {
  height: 3rem;
  width: 3rem;
  background-color: #FEFEFE;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 0.7rem;
}
@media only screen and (max-width: 43.75em) {
  .android {
    height: 0;
    width: 0;
    overflow: hidden;
    display: none;
  }
}

.ios {
  height: 3rem;
  width: 3rem;
  background-color: #FEFEFE;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 0.7rem;
}
@media only screen and (max-width: 43.75em) {
  .ios {
    height: 0;
    width: 0;
    overflow: hidden;
    display: none;
  }
}

.apps_container {
  display: none;
}
@media only screen and (max-width: 43.75em) {
  .apps_container {
    margin: 2rem auto;
    display: flex;
  }
}

.android_bottom {
  height: 3rem;
  width: 3rem;
  background-color: #FEFEFE;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 0.7rem;
}

.ios_bottom {
  height: 3rem;
  width: 3rem;
  background-color: #FEFEFE;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 0.7rem;
}

.header_menu {
  direction: rtl;
}
@media only screen and (max-width: 43.75em) {
  .header_menu {
    height: 0;
    width: 0;
    overflow: hidden;
    display: none;
  }
}
.header_menu-list {
  list-style-type: square;
  list-style-position: initial;
}
.header_menu-list-item {
  display: inline;
  list-style: square;
}
.header_menu-list-item-link {
  text-decoration: none;
  color: #222222;
  font-size: 1.2rem;
  line-height: 3rem;
}
.header_menu-list-item:not(:last-child):after {
  content: "■";
  color: #4682b4;
  font-size: 0.6rem;
  margin: 0 0.3rem;
}

.header_logo {
  height: 10rem;
  background-color: #025594;
  margin: 0.8rem 0 2rem 0;
  grid-row: 2/3;
  grid-column: 1/-1;
}
@media only screen and (max-width: 43.75em) {
  .header_logo {
    height: 6rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
.header_logo-link {
  background: url(../images/logo.png) no-repeat 53%;
  background-size: contain;
  display: inline-block;
  height: 12.2rem;
  margin: 0 auto;
  width: 100%;
}
@media only screen and (max-width: 43.75em) {
  .header_logo-link {
    height: 3rem;
    margin: 0 1rem 0 0;
    width: 15rem;
  }
}

.IconButton_wrapper {
  display: none;
  padding: 1.5rem 2rem;
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 43.75em) {
  .IconButton_wrapper {
    display: block;
  }
}

.IconButton {
  margin: auto;
}

.menue__icon {
  margin: auto;
  height: 0.2rem;
  width: 2.2rem;
  background: #FEFEFE;
  margin: auto;
  position: absolute;
  right: 0;
  transition: all 0.4s;
}

.nav_container {
  grid-row: 3/4;
  grid-column: 1/-1;
  background: #4682b4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
@media only screen and (max-width: 43.75em) {
  .nav_container {
    height: 0;
    overflow: hidden;
  }
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
@media only screen and (max-width: 43.75em) {
  .header_nav {
    width: 100%;
  }
}
.header_nav-list {
  direction: rtl;
}
@media only screen and (max-width: 43.75em) {
  .header_nav-list {
    width: 100%;
  }
}
.header_nav-list-item {
  display: inline-block;
  list-style: none;
  color: #FEFEFE;
  margin-left: 0.1rem;
  text-align: center;
  line-height: 2.5;
  text-decoration: none;
}
@media only screen and (max-width: 43.75em) {
  .header_nav-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }
}
.header_nav-list-item-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #FEFEFE;
  text-align: center;
  padding: 0 1.6rem;
}
@media only screen and (max-width: 62.5em) {
  .header_nav-list-item-link {
    padding: 0 0.5rem;
    letter-spacing: -0.5px;
  }
}
@media only screen and (max-width: 43.75em) {
  .header_nav-list-item-link {
    width: 100%;
    margin: 0;
    padding: 0 1.6rem 0 0;
    text-align: right;
    letter-spacing: 0;
  }
}
.header_nav-list-item:hover {
  background: #f68b1f 200%;
  background-size: contain;
}

@media only screen and (max-width: 43.75em) {
  .first_page {
    width: 100%;
  }
}
.first_page-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #FEFEFE;
  line-height: 2.5;
  padding: 0 1.6rem;
  display: inline-block;
}
@media only screen and (max-width: 43.75em) {
  .first_page-link {
    width: 100%;
  }
}
.first_page-link:hover {
  background-color: #f68b1f;
}

.active {
  background: #f68b1f 400%;
  display: inline-block;
  margin: 0;
}

.notes_wrapper {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
}

.notes_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.notes_header-title {
  text-align: right;
  font-size: 1.6rem;
  color: #555555;
  font-weight: 600;
  letter-spacing: -1.2px;
  margin-right: -0.7rem;
  direction: rtl;
}
.notes_header-photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  border: 1px solid #555555;
  margin: 0 0 0 2rem;
}

.notes_title {
  text-align: right;
  font-size: 1.4rem;
  color: #555555;
  font-weight: 700;
  direction: rtl;
  letter-spacing: -1px;
  padding: 1.5rem 0;
  line-height: 2.3rem;
}

.notes_text {
  text-align: right;
  font-size: 1.2rem;
  color: #444444;
  direction: rtl;
}

.notes_link {
  text-align: right;
  font-size: 1.2rem;
  color: #337ab7;
  direction: rtl;
  text-decoration: none;
}

.notes_link:hover {
  color: #022f57;
}

.popost_wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  padding: 1rem 0;
}
@media only screen and (max-width: 43.75em) {
  .popost_wrapper {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 30em) {
  .popost_wrapper {
    padding: 1rem 1rem 1rem 0;
  }
}

.popost_content {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 1rem 1.3rem 1rem 0;
}

.popost_title {
  font-size: 1.4rem;
  line-height: 2.3rem;
  text-align: right;
  font-weight: 700;
  color: #444444;
  letter-spacing: -1px;
}

.popost_date {
  direction: rtl;
  display: flex;
  align-items: center;
  padding: 1rem 0 0 0;
}
.popost_date-photo {
  padding-left: 0.4rem;
}
.popost_date-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666666;
}

.popost_views {
  direction: rtl;
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0 0;
}
.popost_views-photo {
  padding-left: 0.4rem;
}
.popost_views-text {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.7px;
  color: #666666;
}

.popost_photo-wrapper {
  grid-row: 1/2;
  grid-column: 2/-1;
  padding: 1rem 0 0 0;
}

.popost_photo {
  height: 5rem;
  width: 90%;
}
@media only screen and (max-width: 43.75em) {
  .popost_photo {
    height: 10rem;
    width: 85%;
  }
}
@media only screen and (max-width: 30em) {
  .popost_photo {
    height: 5rem;
    width: 90%;
  }
}

.tab_list {
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  list-style: none;
  direction: rtl;
  border-bottom: 1px solid #CCCCCC;
}
.tab_list-item {
  font-size: 1.4rem;
  color: #666666;
  position: relative;
  padding: 1.5rem 0;
}
.tab_list-item:hover {
  color: #d97109;
  cursor: pointer;
}

.active_tab {
  position: relative;
}

.active_tab::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  transform: rotate(45deg);
  top: 4.5rem;
  left: 1.3rem;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  background: #FEFEFE;
}

.post_wrapper {
  position: relative;
  margin: 0 1.5rem 0 1rem;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  border-bottom: 1px dotted #CCCCCC;
}
@media only screen and (max-width: 43.75em) {
  .post_wrapper {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2.5rem;
  }
}
@media only screen and (max-width: 30em) {
  .post_wrapper {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}

.post_title {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1rem 0;
  text-align: right;
  font-weight: 400;
  color: #333333;
  grid-row: 1/2;
  grid-column: 1/-1;
}
@media only screen and (max-width: 43.75em) {
  .post_title {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 30em) {
  .post_title {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

.post_photo {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  grid-row: 2/3;
  grid-column: 1/-1;
}
@media only screen and (max-width: 43.75em) {
  .post_photo {
    grid-row: 2/3;
    grid-column: 2/-1;
    padding: 1rem 0 0 0;
  }
}
@media only screen and (max-width: 30em) {
  .post_photo {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}

.post_label {
  height: 1.8rem;
  width: 10rem;
  clip-path: polygon(0 9px, 12px 18px, 100px 18px, 100px 0, 12px 0);
  text-align: right;
  padding: 0.25rem 0.3rem 0.25rem 1.2rem;
  font-size: 1.1rem;
  color: #FEFEFE;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin: 0 0 0 0.5rem;
}

.post_text {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 1rem 0 0 0;
  text-align: right;
  direction: rtl;
  color: #252525;
  grid-row: 3/4;
  grid-column: 1/-1;
}
@media only screen and (max-width: 43.75em) {
  .post_text {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
@media only screen and (max-width: 30em) {
  .post_text {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
}

.post_date {
  display: flex;
  flex-direction: row;
  padding: 3rem 1.5rem 1rem 0;
  direction: rtl;
  text-align: right;
  grid-row: 4/5;
  grid-column: 1/-1;
}
@media only screen and (max-width: 43.75em) {
  .post_date {
    grid-row: 3/4;
    grid-column: 1/-1;
    align-items: end;
    justify-content: end;
    padding: 3rem 1.5rem 1rem 2.5rem;
  }
}
@media only screen and (max-width: 30em) {
  .post_date {
    grid-row: 4/5;
    grid-column: 1/-1;
  }
}

.post_author {
  font-size: 1.1rem;
  text-align: right;
  color: #555555;
  letter-spacing: -1px;
}

.post_gutter {
  font-size: 1.2rem;
  color: #555555;
  padding: 0 3px;
}

.post_comments:link,
.post_comments:visited {
  font-size: 1.1rem;
  text-align: right;
  color: #337ab7;
  text-decoration: none;
}

.post_comments:hover,
.post_comments:active {
  color: #022f57;
}

.post_continue:link,
.post_continue:visited {
  font-size: 1.1rem;
  text-align: right;
  color: #337ab7;
  text-decoration: none;
  letter-spacing: -1px;
}

.post_continue:hover,
.post_continue:active {
  color: #022f57;
}

.post_wrapper-old {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1.5rem;
  position: relative;
  margin: 0 1.5rem 0 1rem;
  border-bottom: 1px dotted #CCCCCC;
}
@media only screen and (max-width: 30em) {
  .post_wrapper-old {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}

.post_title-old {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 1rem 0;
  text-align: right;
  font-weight: 400;
  color: #333333;
}
@media only screen and (max-width: 30em) {
  .post_title-old {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

.post_photo-old {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  grid-row: 1/3;
  grid-column: 2/-1;
  padding: 1rem 0 0 0;
}
@media only screen and (max-width: 30em) {
  .post_photo-old {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}

.post_text-old {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 1rem 0 0 0;
  text-align: right;
  direction: rtl;
  color: #252525;
  grid-row: 2/3;
  grid-column: 1/2;
}
@media only screen and (max-width: 30em) {
  .post_text-old {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
}

.post_date-old {
  display: flex;
  flex-direction: row;
  direction: rtl;
  text-align: right;
  grid-row: 3/4;
  grid-column: 1/-1;
  align-items: end;
  justify-content: end;
  padding: 3rem 1.5rem 1rem 2.5rem;
}
@media only screen and (max-width: 30em) {
  .post_date-old {
    grid-row: 4/5;
    grid-column: 1/-1;
  }
}

.economic {
  background: #5500ff;
}

.world {
  background: #cc8400;
}

.sport {
  background: #71a603;
}

.political {
  background: #ff3333;
}

.sociall {
  background: #ff7f50;
}

.cultural {
  background: #328d03;
}

.science {
  background: #008b8b;
  letter-spacing: -0.5px;
}

.entertainment {
  background: #8080ff;
}

.health {
  background: #c3c322;
  letter-spacing: -0.5px;
}

.ads__wrapper {
  margin: 0 1.5rem;
}
@media only screen and (max-width: 62.5em) {
  .ads__wrapper {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}

.newspaper_ads {
  margin: 1rem 0 0 0;
}
.newspaper_ads-link {
  border: 1px solid #CCCCCC;
  padding: 5rem 0 1.1rem 0;
  z-index: 100;
  text-decoration: none;
  background: #FEFEFE;
  display: table;
  margin: 0 1.6rem;
}
.newspaper_ads-title {
  text-align: center;
  background: #0f4e95;
  font-size: 1.4rem;
  color: #FEFEFE;
  font-weight: 400;
  padding: 0.9rem 0;
  margin: 0 0 -5rem 0;
  position: relative;
}
.newspaper_ads-title::before {
  content: "";
  position: absolute;
  top: 3.5rem;
  background: #022c5c;
  height: 1.6rem;
  width: 1.6rem;
  left: 0;
  clip-path: polygon(0 0, 16px 0, 16px 16px);
}
.newspaper_ads-title::after {
  content: "";
  position: absolute;
  top: 3.5rem;
  background: #022c5c;
  height: 1.6rem;
  width: 1.6rem;
  right: 0;
  clip-path: polygon(0 0, 16px 0, 0 16px);
}
.newspaper_ads-photo {
  width: 100%;
  z-index: 10;
}
.newspaper_ads-text {
  font-size: 1.4rem;
  color: #555555;
  text-align: center;
  padding: 0.7rem 0;
  text-decoration: none;
}

.ads_banner {
  padding: 2rem 0 1.5rem 0;
  margin: 0;
}
.ads_banner-photo {
  width: 100%;
  margin: 0;
  padding: 0;
}

.ads_image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.ads_image {
  width: 100%;
  margin: 0;
  padding: 0;
}

.social {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1.5rem;
  border: 1px solid #CCCCCC;
  padding: 1.5rem 0;
  margin: 0;
}
.social-title {
  color: #333333;
  display: grid;
  justify-items: center;
  align-items: center;
  direction: rtl;
  font-size: 1.8rem;
  font-weight: 400;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.facebook {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3px;
  background: #115aac;
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  justify-items: center;
  align-items: center;
}

.twitter {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3px;
  background: #259ab7;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  justify-items: center;
  align-items: center;
}

.instagram {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3px;
  background: #0a3667;
  grid-row: 2/3;
  grid-column: 3/4;
  display: grid;
  justify-items: center;
  align-items: center;
}

.youtube {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3px;
  background: #DDDDDD;
  grid-row: 2/3;
  grid-column: 4/5;
  display: grid;
  justify-items: center;
  align-items: center;
}

.siterss {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3px;
  background: #d97109;
  grid-row: 2/3;
  grid-column: 5/6;
  display: grid;
  justify-items: center;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border: 1px solid #CCCCCC;
  margin: 1rem 0;
  padding: 1.5rem 2rem;
}
.registration-title {
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.registration-content {
  display: flex;
  border: 1px solid #DDDDDD;
  background: #FEFEFE;
  overflow: hidden;
  width: 92%;
}
.registration-btn {
  color: #FEFEFE;
  background: #d97109;
  direction: rtl;
  font-size: 1.4rem;
  border: none;
  padding: 0.8rem 2rem;
  margin: 3px;
}
.registration-input {
  border: none;
  text-align: right;
  font-size: 1.4rem;
  color: #333333;
  padding: 0.8rem 0.5rem;
  overflow: hidden;
  direction: rtl;
  letter-spacing: -1px;
}

.app_banner {
  padding: 1rem 0 1.5rem 0;
  margin: 0;
}
.app_banner-photo {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main_container {
  background: #FEFEFE;
  margin: 0;
}

.newspaper_wrapper__top {
  display: none;
}
@media only screen and (max-width: 62.5em) {
  .newspaper_wrapper__top {
    display: block;
  }
}

.main_top {
  margin: 0 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: #cccccc solid 1px;
}
.main_top-title {
  color: #1f3a51;
  text-align: center;
  line-height: 1.1;
  font-weight: 500;
  font-size: 3rem;
  padding: 3rem 0;
  letter-spacing: -0.15rem;
}
@media only screen and (max-width: 43.75em) {
  .main_top-title {
    font-size: 2.1rem;
  }
}
.main_top-photo {
  max-width: 69rem;
  object-position: center top;
  max-height: 49rem;
}
@media only screen and (max-width: 43.75em) {
  .main_top-photo {
    max-width: 48rem;
    max-height: 34rem;
  }
}
@media only screen and (max-width: 30em) {
  .main_top-photo {
    max-width: 28rem;
    max-height: 20rem;
  }
}
.main_top-date {
  font-size: 1.2rem;
  padding: 1.5rem 0;
  color: #777777;
  display: flex;
  flex-direction: row;
}
.main_top-date-gutter {
  font-size: 1.2rem;
  padding: 0 0.4rem;
  color: #222222;
  font-weight: 700;
}

.main_content {
  display: grid;
  grid-template-columns: 32.5rem 1fr;
  grid-template-rows: auto;
  padding: 2rem 0;
  grid-column-gap: 1.8rem;
}
@media only screen and (max-width: 62.5em) {
  .main_content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 0;
  }
}

.side_ads {
  grid-column: 1/2;
  padding: 2rem 0;
  border-right: 1px solid #DDDDDD;
}
@media only screen and (max-width: 62.5em) {
  .side_ads {
    grid-row: 2/3;
    grid-column: 1/-1;
    border-right: none;
  }
}
@media only screen and (max-width: 43.75em) {
  .side_ads {
    grid-row: 5/6;
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 30em) {
  .side_ads {
    width: 0;
    height: 0;
    display: none;
    overflow: hidden;
  }
}
.side_ads-title {
  line-height: 2;
  font-size: 1.8rem;
  color: #555555;
  font-weight: 700;
  text-align: right;
  padding: 0 0 0.5rem 0;
  border-bottom: 3px solid #999999;
  margin: 0 1.5rem;
}

@media only screen and (max-width: 62.5em) {
  .notes_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.content_container {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0.8rem;
}
@media only screen and (max-width: 62.5em) {
  .content_container {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

.main_middle {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column: 1/2;
}
@media only screen and (max-width: 43.75em) {
  .main_middle {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-column: 1/-1;
  }
}

.main_popular {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media only screen and (max-width: 62.5em) {
  .main_popular {
    padding: 0 0 0 1.5rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .main_popular {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
.main_popular-title {
  line-height: 2;
  font-size: 1.8rem;
  color: #555555;
  font-weight: 700;
  text-align: right;
  padding: 0 0 0.5rem 0;
  border-bottom: 3px solid #999999;
}
@media only screen and (max-width: 43.75em) {
  .main_popular-title {
    margin: 0 1.5rem 0 0;
  }
}

.main_latest1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media only screen and (max-width: 43.75em) {
  .main_latest1 {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: grid;
  }
}
.main_latest1-title {
  line-height: 2;
  font-size: 1.8rem;
  color: #555555;
  font-weight: 700;
  text-align: right;
  border-bottom: 3px solid #999999;
  margin: 0 1.5rem 0 0;
  padding: 0 0 0.5rem 0;
}
@media only screen and (max-width: 62.5em) {
  .main_latest1-title {
    margin: 0 1.5rem 0 1.5rem;
  }
}

.main_latest2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
@media only screen and (max-width: 43.75em) {
  .main_latest2 {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
.main_latest2-title {
  line-height: 2;
  font-size: 1.8rem;
  color: #555555;
  font-weight: 700;
  text-align: right;
  border-bottom: 3px solid #999999;
  margin: 0 1.5rem 0 0;
  padding: 0 0 0.5rem 0;
}
@media only screen and (max-width: 62.5em) {
  .main_latest2-title {
    margin: 0 1.5rem 0 1rem;
  }
}

.main_old {
  grid-row: 2/-1;
  grid-column: 1/-1;
  padding: 2rem 0 0 0;
}
@media only screen and (max-width: 43.75em) {
  .main_old {
    grid-row: 4/5;
    grid-column: 1/-1;
  }
}
.main_old-title {
  line-height: 2;
  font-size: 1.8rem;
  color: #555555;
  font-weight: 700;
  text-align: right;
  border-bottom: 3px solid #999999;
  margin: 0 1.5rem 0 0;
  padding: 0 0 0.5rem 0;
}
@media only screen and (max-width: 62.5em) {
  .main_old-title {
    margin: 0 1.5rem 0 1.5rem;
  }
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  background: #FEFEFE;
  margin: 0 0 2rem 0;
}

.footer_container {
  border: 1rem solid #DDDDDD;
  padding: 1rem;
  width: 100%;
}

.footer_search {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 1px solid #DDDDDD;
  width: 50%;
  margin: 1.5rem auto;
}
@media only screen and (max-width: 43.75em) {
  .footer_search {
    width: 80%;
  }
}
@media only screen and (max-width: 30em) {
  .footer_search {
    width: 100%;
  }
}
.footer_search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #DDDDDD;
  padding: 0.3rem;
  height: 3rem;
  width: 3rem;
}
.footer_search-input {
  -webkit-appearance: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  padding: 0.3rem;
  text-decoration: none;
  color: #555555;
  font-size: 1.2rem;
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
}

.quick_access {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
}
.quick_access-link {
  display: none;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: #0f4e95;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0f4e95;
}
@media only screen and (max-width: 43.75em) {
  .quick_access-link {
    display: block;
  }
}

.footer_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.footer_menu-list {
  list-style-type: square;
  list-style-position: initial;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 43.75em) {
  .footer_menu-list {
    display: flex;
    flex-direction: column-reverse;
    list-style: square;
    list-style-position: outside;
    text-align: center;
  }
}
.footer_menu-list-item {
  display: inline;
  list-style: square;
}
@media only screen and (max-width: 43.75em) {
  .footer_menu-list-item {
    margin: 1rem 0;
  }
}
.footer_menu-list-item-link {
  text-decoration: none;
  color: #666666;
  font-size: 1.4rem;
}
.footer_menu-list-item:not(:last-child):after {
  content: "■";
  color: #d97109;
  font-size: 0.6rem;
  margin: 0 0.3rem;
}
@media only screen and (max-width: 43.75em) {
  .footer_menu-list-item:not(:first-child):after {
    content: "■";
    color: #d97109;
    font-size: 0.6rem;
    margin: 0 0.3rem;
  }
}

.footer_copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #666666;
  font-size: 1.2rem;
  direction: rtl;
  padding: 1rem 0 2.5rem 0;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
}

.footer_developer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #666666;
  font-size: 1.2rem;
  direction: rtl;
  padding: 1.5rem 0;
}

/*# sourceMappingURL=style.css.map */
